* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__label {
  padding: 1rem;
}

.input__button {
   margin: 1rem;
}

.loading {
  text-align: center;
}

.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}